@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --navBackground : #30363c;
}

@font-face {
  font-family: "Canela-Light";
  src: url("../public/fonts/CanelaText-Light-Trial.otf") format("truetype");
}

@font-face {
  font-family: "Canela-Medium";
  src: url("../public/fonts/CanelaText-Medium-Trial.otf") format("truetype");
}

@font-face {
  font-family: "Canela-Regular";
  src: url("../public/fonts/CanelaText-Regular-Trial.otf") format("truetype");
}
@font-face {
  font-family: "Canela-thin";
  src: url("../public/fonts/CanelaText-Thin-Trial.otf") format("truetype");
}

body {
  font-family: "Canela-Regular", sans-serif;
}
.ThinCanel {
  font-family: "Canela-thin", sans-serif;

}